/* Reset Styles */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Cross-Browsing 스타일 초기화 */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


/* input 스타일 제거 */
input,
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {

}

select::-ms-expand,
input::-ms-clear,
input[type='password']::-ms-reveal,
input[type='password']::-ms-clear {
    display: none;
}

input::-ms-clear,
input::-ms-reveal {
    display: none;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
    display: none;
}

button {
    all: unset;
    cursor: pointer;
}

/*버튼 태그 기본 스타일 제거 + 포인터 커서 적용*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*padding과 border가 요소의 width 계산에 포함돼서 레이아웃 잡기가 더 쉬워집니다.*/

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/*이미지가 부모 너비 넘지 않도록 기본 세팅*/


:root {
    --black: #000000;
    --white: #ffffff;
    --gray: #f5f5f5;

    --border-01: #f2f2f2;
    --border-02: #ddd;

    --layout-w: 1200px;

}